@model SliderCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputUsername1">Slider</label>
            <input  class="form-control"  asp-for="Images" id="exampleInputUsername1" maxlength="100" placeholder="Category...">
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a class="btn btn-light" asp-action="Index">Cancel</a>
    </form>

</div>