@model IEnumerable<SliderVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container mt-5">
    <h2 class="text-center">Slider</h2>
    <div class="create-operation">
        <a asp-action="Create" class="btn btn-success text-white btn-sm"><i class="mdi mdi-plus"></i></a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    

                    <th>
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="py-1">
                            <img src="~/img/@item.Image"  />
                        </td>
                        
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary text-white btn-sm"><i class="mdi mdi-information-variant"></i></a>
                            <a class="btn btn-warning text-white btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-grease-pencil"></i></a>
                            <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger text-white btn-sm"><i class="mdi mdi mdi-delete"></i></button>
                            </form>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

