@model CategoryCreateVM
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="container mt-5">
    <form class="forms-sample"method="post" asp-action="Create">
        <div class="form-group">
            <label for="exampleInputUsername1">Category</label>
            <input asp-for="Name" class="form-control" id="exampleInputUsername1" maxlength="100" placeholder="Category...">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a class="btn btn-light" asp-action="Index">Cancel</a>
    </form>

</div>
