@model BlogVM
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile"></label>
        <input asp-for="ImageFile" type="file" accept="image/*" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>

        
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <div class="mt-2">
                <img src="~/img/@Model.Image" alt="Current Image" style="max-width: 100%; max-height: 200px;" />
            </div>
        }
    </div>
    <input type="hidden" asp-for="Image" />
    <button type="submit" class="btn btn-primary">Update</button>
</form>