@model Product
@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/css/product.css">
}

<div class="container">
    <div class="col-lg-8 border p-3 main-section bg-white">
        
        <div class="row m-0">
            <div class="col-lg-4 left-side-product-box pb-3">
                <img src="~/img/@Model.ProductImages.FirstOrDefault(m=>m.IsMain)?.Name" class="border p-3">
                <span class="sub-img">
                    @foreach (var item in Model.ProductImages)
                        {
                        <img src="~/img/@item.Name" class="border p-2">
                    }
                    
                </span>
            </div>
            <div class="col-lg-8">
                <div class="right-side-pro-detail border p-3 m-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <span>@Model.Category.Name</span>
                            <p class="m-0 p-0">@Model.Name</p>
                        </div>
                        <div class="col-lg-12">
                            <p class="m-0 p-0 price-pro">$@Model.Price.ToString(Model.Price % 1 == 0 ? "0" : "0.00")</p>
                            <hr class="p-0 m-0">
                        </div>
                        <div class="col-lg-12 pt-2">
                            <h5>Product Detail</h5>
                            <span>
                               @Model.Description
                            </span>
                            <hr class="m-0 pt-2 mt-2">
                        </div>
                        <div class="col-lg-12">
                            <p class="tag-section"><strong>Tag : </strong><a href="">Woman</a><a href="">,Man</a></p>
                        </div>
                        <div class="col-lg-12">
                            <h6>Quantity :</h6>
                            <input type="number" class="form-control text-center w-100" value="1">
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="row">
                                <div class="col-lg-6 pb-2">
                                    <a href="#" class="btn btn-danger w-100">Add To Cart</a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="#" class="btn btn-success w-100">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

