
@model SliderVMVC

<section id="slider">

    <div class="owl-carousel slider">
        @foreach (var item in Model.Sliders)
        {
            <div> <img src="~/img/@item.Image" alt=""> </div>
        }


    </div>
    <div class="container context pl-lg-5 ml-lg-3">
        <div class="row">
            <div class="col-lg-5">
                <div class="text">
                    @Html.Raw(Model.SliderInfo.Title)
                    <p class="text-black-50 d-none d-sm-block">@Model.SliderInfo.Description </p>
                </div>
                <div class="img">
                    <img src="~/img/@Model.SliderInfo.Image" alt="">
                </div>
            </div>
        </div>
    </div>
</section>